@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainHead {
  font-family: 'Righteous', 'Arial Narrow', Arial, sans-serif;
  font-size: 7rem;
  margin: 13rem 0 5rem;
  display: inline-block;
  background: linear-gradient(270deg, #c0c0c0, rgb(227, 213, 131), rgb(215, 183, 0), #d3d3d3, #a9a9a9, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientWave 8s ease infinite;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  animation: fadeIn 2s ease-in-out;
}

.homeBtn {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  background: linear-gradient(135deg, #6a0dad, #8a2be2);
  border: 2px solid #330658;
  border-radius: 8px;
  padding: 1.3rem 2rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-width: 28rem;
  max-width: 28rem;
  margin: 2.5rem 4rem;
  z-index: 1;
  text-align: center;
}

.homeBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0));
  transition: all 0.4s;
  z-index: -1;
}

.homeBtn:hover::before {
  left: 100%;
}

.homeBtn:hover {
  background: linear-gradient(135deg, #00ffff, #13adb0);
  .buttonText{
    color: black;
  }
}

.copyright {
  display: block;
  position: relative;
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homeBtn {
  /* Your existing button styles */
  position: relative;
  overflow: hidden;
}

.loadingGif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  font-weight: 700;
  font-size: 2rem;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .homeBtn {
    width: 100%;
    margin: 1.5rem 0;
    padding: 1.2rem
  }
}
